.well {
  background-color: #EBEBEB;
}

.dot {
  background-color: transparent ! important
}

.grey-dot .dot {
  background: url('../images/dot-5.png') no-repeat center;
}

.red-dot .dot {
  background: url('../images/dot-4.png') no-repeat center;
}

.yellow-dot .dot {
  background: url('../images/dot-3.png') no-repeat center;
}

.green-dot .dot {
  background: url('../images/dot-2.png') no-repeat center;
}

.light-green-dot .dot {
  background: url('../images/dot-1.png') no-repeat center;
}

/* Footer */

.footer {
  overflow: hidden;
}