
@media (max-width: 738px) {
  .illustration--text {
    top: 15px;
    margin: auto;
    left: auto;
    position: relative;
  }
  .illustration--title {
    font-size: 3em;
  }
  .container {
    min-width: 0;
  }
  .col-1-5 {
    width: 33%;
    float: none;
    display: inline-block;
  }
}

@media (max-width: 630px) {
  .responsive-nav {
    width: 100%;
  }
  .nav {
    margin-top: 11px;
  }
  .responsive-nav--anchor {
    width: 268px;
    padding: 15px 2px;
    border-radius: 50px;
    background-color: #c0e7ec;
    margin: 12px 0;
  }
  .col-1-5 {
    width: 50%;
    float: left;
  }
  .avatar {
    float: none;
    display: block;
    margin: 29px auto;
  }
  .landing-section--paragraph, .landing-section--title {
    text-align: center;
    padding: 13px 34px 0;
  }
  .landing-section--paragraph {
    margin-bottom: 50px;
  }

  .landing-section--height {
    height: auto;
  }
}

@media (max-width: 600px) {
  .col-1-5 {
    width: 100%;
    padding: 20px;
  }
}