/* Resume */

@media (max-width: 1000px) {
  .header-II div h1 {
    top: 34%;
    font-size: 2em;
  }
  .header-II div p {
    font-size: 1.15em;
  }
  .header-II div > img {
    height: 168px;
    margin-left: 22px;
    float: left;
  }
  .skills {
    margin-top: 170px;
  }
  .container .main .timeline-education span {
    left: 20px;
    margin-right: 9px;
    top: -108px;
    vertical-align: top;
  }
  .container .main .timeline-education span:nth-child(3) {
    left: 195px;
  }
  .container .main .timeline-education span:nth-child(3) hr {
    width: 100px;
    position: absolute;
    top: 35px;
    left: 9px;
  }
  .container .main .timeline-education p:nth-child(1) {
    position: relative;
    top: 93px;
  }
  .container .main .timeline-education span h5 {
    margin-top: 68px;
  }
  .container .main .timeline-education h3 {
    top: -84px;
    left: 7px;
  }
  .skills .responsive-list {
    float: none;
    margin-bottom: 100px;
    margin: 40px auto 100px;
    display: block;
    width: 80%;
  }
  .responsive-list li {
    display: inline-block;
    width: 49%;
  }
  .skills h3 {
    text-align: center;
  }
  .skills .chart {
    float: none;
    margin: auto;
    margin-bottom: 30px;
  }
  .hobbies h3 {
    text-align: center;
  }
  .hobbies ul {
    margin: 50px auto 0;
    display: block;
  }
  .hobbies ul li {
    display: inline-block;
    width: 40%;
    margin: 5px 10px;
  }
  .hobbies .hexagon {
    margin-left: auto;
    margin-right: auto;
  }
  .container .main {
    width: 78%;
  }
}


@media (max-width: 738px) {
  .illustration--text {
    top: 15px;
    margin: auto;
    left: auto;
    position: relative;
  }
  .illustration--title {
    font-size: 3em;
  }
  .container {
    min-width: 0;
  }
  .col-1-5 {
    width: 33%;
    float: none;
    display: inline-block;
  }
  .header-II div > img {
    margin: auto;
    display: block;
    float: none;
  }
  
  .header-II div h1, .header-II div p {
    position: relative;
    text-align: center;
    display: block;
    left: auto;
    margin-top: 9px;
    clear: both;
  }
  .header-II div ul {
    position: relative;
    clear: both;
    display: block;
    margin-top: 30px;
  }
  .header-II div ul li {
    width: 50%;
    float: left;
    text-align: center;
  }
  .container .main {
    margin-left: 64px;
    padding-left: 25px;
  }
  .container .main .time-line span {
    left: -85px;
  }
  .container .main .time-line span hr {
    width: 18px;
  }
  .gallery--thumbnail {
    width: 100%;
  }
  .images-popup {
    max-width: 100%;
    width: 95%;
  }
  .avatar {
    float: none;
    display: block;
    margin: 29px auto;
  }
  .landing-section--paragraph, .landing-section--title {
    text-align: center;
    padding: 13px 34px 0;
  }
  .landing-section--paragraph {
    margin-bottom: 50px;
  }

  .landing-section--height {
    height: auto;
  }
  .skills .chart {
    width: 91%;
    padding: 0 9%;
  }
  .container .main .timeline-education {
    width: 109%;
  }
}

@media (max-width: 630px) {
  .responsive-nav {
    width: 100%;
  }
  .nav {
    margin-top: 11px;
  }
  .responsive-nav--anchor {
    width: 268px;
    padding: 15px 2px;
    border-radius: 50px;
    background-color: #c0e7ec;
    margin: 12px 0;
  }
  .col-1-5 {
    width: 50%;
    float: left;
  }
  
  .footer-section--paragraph {
    float: none;
    text-align: center;
  }
  .footer-section a {
    float: none;
    display: block;
    margin: auto;
  }
  .header-II div ul li {
    width: 100%;
  }
  
  .container .main .timeline-education {
    width: 102%;
    margin-left: -34px;
  }
  
  .container .main .timeline-education span:nth-child(3) {
    left: 30px;
  }
}

@media (max-width: 600px) {
  .responsive-list li {
    display: inline-block;
    width: 100%;
  }
  .col-1-5 {
    width: 100%;
    padding: 20px;
  }
  .hobbies ul li {
    width: 100%;
    margin: 10px 0 40px;
  }
  .hobbies ul li div i {
    height: 56px;
    background-position: -417px 3px;
    background-size: 1710px;
  }
  .hobbies ul li:nth-child(2) div i {
    background-position: -621px 6px;
  }
  .hobbies ul li:nth-child(3) div i {
    background-position: -717px 6px;
  }
  .hobbies ul:nth-child(3) li:nth-child(1) div i {
    background-position: -1192px 9px;
  }
  .hobbies ul:nth-child(3) li:nth-child(2) div i {
    background-position: -1311px 4px;
    background-size: 1740px;
  }
}