/* Resume */

@media (max-width: 937px) {
  .header-II hgroup h1 {
    top: 34%;
    font-size: 2em;
  }
  .header-II hgroup p {
    font-size: 1.15em;
  }
  .header-II hgroup > img {
    height: 168px;
    margin-left: 22px;
    float: left;
  }
  .skills {
    margin-top: 360px;
  }
  .container .main .timeline-education {
    border-right: 0;
  }
  .container .main .timeline-education span {
    left: 34px;
    margin-right: 9px;
    top: -67px;
    vertical-align: top;
  }
  .container .main .timeline-education span:nth-child(3) {
    left: 195px;
  }
  .container .main .timeline-education span:nth-child(3) hr {
    width: 100px;
    position: absolute;
    top: 35px;
    left: 9px;
  }
  
  .container .main .timeline-education p:nth-child(1) {
    position: relative;
    top: 93px;
  }
  .container .main .timeline-education span h5 {
    margin-top: 68px;
  }
  .container .main .timeline-education h3 {
    top: -29px;
    left: -6px;
  }
  .skills ul {
    float: none;
    margin-bottom: 100px;
    margin: 0 auto 100px;
    display: block;
    width: 80%;
  }
  .skills h3 {
    text-align: center;
  }
  .skills .chart {
    float: none;
    margin: auto;
    margin-bottom: 30px;
  }
  .hobbies h3 {
    text-align: center;
  }
  .hobbies ul {
    margin: 50px auto 0;
    display: block;
  }
  .hobbies ul li {
    display: inline-block;
    width: 40%;
    margin: 5px 10px;
  }
  .hobbies .hexagon {
    margin-left: auto;
    margin-right: auto;
  }
}


@media (max-width: 738px) {
  .illustration--text {
    top: 15px;
    margin: auto;
    left: auto;
    position: relative;
  }
  .illustration--title {
    font-size: 3em;
  }
  .container {
    min-width: 0;
  }
  .col-1-5 {
    width: 33%;
    float: none;
    display: inline-block;
  }
  .header-II hgroup > img {
    margin: auto;
    display: block;
    float: none;
  }
  
  .header-II hgroup h1, .header-II hgroup p {
    position: relative;
    text-align: center;
    display: block;
    left: auto;
    margin-top: 9px;
    clear: both;
  }
  .header-II hgroup ul {
    position: relative;
    clear: both;
    display: block;
    margin-top: 30px;
  }
  .header-II hgroup ul li {
    width: 50%;
    float: left;
    text-align: center;
  }
  .container .main {
    margin-left: 64px;
    padding-left: 25px;
  }
  .container .main .time-line span {
    left: -85px;
  }
  .container .main .time-line span hr {
    width: 18px;
  }
  .container .main .timeline-education {
    width: 122%;
  }
}

@media (max-width: 630px) {
  .responsive-nav {
    width: 100%;
  }
  .nav {
    margin-top: 11px;
  }
  .responsive-nav--anchor {
    width: 268px;
    padding: 15px 2px;
    border-radius: 50px;
    background-color: #c0e7ec;
    margin: 12px 0;
  }
  .col-1-5 {
    width: 50%;
    float: left;
  }
  .avatar {
    float: none;
    display: block;
    margin: 29px auto;
  }
  .landing-section--paragraph, .landing-section--title {
    text-align: center;
    padding: 13px 34px 0;
  }
  .landing-section--paragraph {
    margin-bottom: 50px;
  }

  .landing-section--height {
    height: auto;
  }
  
  .footer-section--paragraph {
    float: none;
    text-align: center;
  }
  .footer-section a {
    float: none;
    display: block;
    margin: auto;
  }
  .header-II hgroup ul li {
    width: 100%;
  }
  .container .main .timeline-education span:nth-child(3) {
    left: 30px;
  }
  .skills {
    margin-top: 460px;
  }
  .skills .chart p {
    top: -30px;
    left: -35px;
  }
  .skills .chart p:nth-child(14) {
    left: -132px;
    top: 287px;
  } 
  .skills .chart p:nth-child(15) {
    right: -40px;
    top: 233px;
  }
  .skills .chart p:nth-child(16) {
    top: 0px;
    left: auto;
    right: -290px;
  }
  .skills .chart p:nth-child(17) {
    top: -66px;
    left: auto;
    right: -77;
  }
  .skills .chart {
    -ms-transform: scale(0.8,0.8);
    -webkit-transform: scale(0.8,0.8);
    transform: scale(0.8,0.8);
  }
  .skills .chart p {
    font-size: 1.3em;
  }
}

@media (max-width: 600px) {
  .col-1-5 {
    width: 100%;
    padding: 20px;
  }
  .hexagon {
    position: relative;
    width: 119px;
    height: 67.51px;
    background-color: #fff;
    margin: 31.75px 0;
    border-left: solid 5px #14bacd;
    border-right: solid 5px #14bacd;
  }

  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 77.78px;
    height: 77.78px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 12.1091px;
  }

  .hexagon:before {
    top: -42.8909px;
    border-top: solid 7.0711px #14bacd;
    border-right: solid 7.0711px #14bacd;
  }

  .hexagon:after {
    bottom: -42.8909px;
    border-bottom: solid 7.0711px #14bacd;
    border-left: solid 7.0711px #14bacd;
  }
  .hobbies ul li div i {
    height: 56px;
    background-position: -417px 3px;
    background-size: 1710px;
  }
  .hobbies ul li:nth-child(2) div i {
    background-position: -621px 6px;
  }
  .hobbies ul li:nth-child(3) div i {
    background-position: -717px 6px;
  }
  .hobbies ul:nth-child(3) li:nth-child(1) div i {
    background-position: -1192px 9px;
  }
  .hobbies ul:nth-child(3) li:nth-child(2) div i {
    background-position: -1311px 4px;
    background-size: 1740px;
  }
}

