

a {
  color: #28889c;
}

.header-II {
  padding: 20px 0;
  margin-bottom: -7px;
}
.header-II div {
  text-align: left;
  position: relative;
  zoom: 1;
}
.header-II div:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.header-II div:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.header-II div > img {
  height: 220px;
  float: left;
}
.header-II div h1, .header-II div p {
  vertical-align: middle;
  position: absolute;
  left: 22%;
}
.header-II div h1 {
  top: 34%;
  font-size: 2.6em;
  text-transform: uppercase;
  font-weight: 600;
  color: #494949;
}
.header-II div p {
  top: 51%;
  font-size: 1.7em;
  color: #8b8985;
  letter-spacing: 0.1em;
  font-weight: 600;
}
.header-II div ul {
  position: absolute;
  right: 0;
  top: 23%;
}
.header-II  div ul li {
  margin: 5px 0;
  color: #494949;
  font-weight: 600;
  font-size: 1.3em;
}
.header-II  div ul li i {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  background: url('../images/sprites.png') -182px -8px no-repeat;
  background-size: 1316px;
  height: 22px;
  width: 22px;
  margin-right: 4px;
}
.header-II  div ul li:nth-child(2) i {
  background-position: -146px -8px;
}
.header-II  div ul li:nth-child(3) i {
  background-position: -115px -8px;
}
.header-II  div ul li:nth-child(4) i {
  background-position: -78px -8px;
  height: 26px;
}

.container h3 {
  font-size: 1.6em;
  color: #494949;
  font-weight: 500;
}
.container h3 i {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  background: url('../images/sprites.png') -304px -3px no-repeat;
  background-size: 1450px;
  height: 40px;
  width: 52px;
}
.container .main {
  position: relative;
  border: 7px solid #f1f2f2;
  border-width: 0 0 7px 7px;
  margin-left: 94px;
  padding: 50px 0 30px 65px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.container .main .time-line {
  margin-bottom: 90px;
}

.links-list {
  margin-top: 6px;
}

.links-list li {
  display: inline-block;
  margin-right: 14px;
}

.container .main .timeline-education,
.container .main .time-line {
  margin-top: 20px;
}
.container .main .timeline-education li,
.container .main .time-line > li {
  margin-bottom: 50px;
  position: relative;
}
.container .main .timeline-education h4, .container .main .timeline-education h5,
.container .main .time-line h4,
.container .main .time-line h5 {
  color: #14bacd;
}
.container .main .timeline-education h4,
.container .main .time-line h4 {
  font-weight: 600;
  font-size: 1.2em;
}
.container .main .timeline-education h5,
.container .main .time-line h5 {
  font-size: 1em;
  font-weight: 600;
  padding: 2px 0;
}
.container .main .timeline-education p,
.container .main .time-line p {
  color: #626262;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.5;
  padding-right: 44px;
}
.container .main .timeline-education div,
.container .main .time-line div {
  border-left: 2px solid #e8e8e8;
  padding: 6px 0 5px 8px;
}
.container .main .timeline-education span,
.container .main .time-line span {
  margin-top: 20px;
  position: absolute;
  left: -123px;
  color: #14bacd;
  font-size: 1.2em;
  font-weight: 600;
  display: inline-block;
}
.container .main .timeline-education span i,
.container .main .time-line span i {
  display: inline-block;
  height: 22px;
  width: 22px;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #14bacd;
  border: 5px solid #a8dde8;
  margin-left: 8px;
}
.container .main .timeline-education span hr,
.container .main .time-line span hr {
  border: 0;
  border-bottom: 3px solid #14bacd;
  display: inline-block;
  width: 50px;
  margin: 0 0 3px -7px;
}
.container .main .timeline-education {
  border: 7px solid #f1f2f2;
  border-width: 7px 7px 0 0;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: white;
  margin: 26px 0 0 -74px;
  border-left: 10px solid white;
  position: absolute;
  width: 102%;
}
.container .main .timeline-education h3 {
  background-color: white;
  padding: 2px 13px 2px 10px;
  display: inline-block;
  position: relative;
  top: -143px;
  left: 27px;
}
.container .main .timeline-education h3 i {
  background-position: -240px -1px;
  height: 44px;
}
.container .main .timeline-education span {
  position: relative;
  left: 125px;
  margin-right: 59px;
  top: -59px;
  color: #e55876;
  font-size: 1.2em;
}
.container .main .timeline-education span p, .container .main .timeline-education span h5 {
  color: #e55876;
  font-weight: 600;
  font-size: 1em;
}
.container .main .timeline-education span h5 {
  margin-top: 45px;
}
.container .main .timeline-education span i {
  background: #e55876;
  border-color: #f3b0be;
}
.container .main .timeline-education span hr {
  border-bottom: 4px dotted #e55876;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  margin: 0 0 -23px -40px;
}

.skills {
  margin-top: 100px;
  margin-top: 140px;
  position: relative;
  padding: 30px 0;
}
.skills, .skills .container {
  zoom: 1;
}
.skills:before, .skills .container:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.skills:after, .skills .container:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.skills h3 i {
  width: 48px;
  background-position: -33px -1px;
}
.skills ul {
  float: left;
  list-style-type: disc;
  color: #626262;
  margin: 20px 0 0 25px;
}
.skills ul li {
  margin: 15px 0;
  font-weight: 600;
  font-size: 1.3em;
}


.hobbies {
  padding: 40px 0 60px;
}
.hobbies h3 i {
  background-position: 7px -4px;
  background-size: 1780px;
  height: 43px;
  width: 49px;
}
.hobbies ul {
  margin-top: 45px;
}
.hobbies ul li {
  display: inline-block;
  width: 17.5%;
  margin: 5 10px;
}


.hexagon {
  position: relative;
  width: 152px;
  height: 87.6px;
  background-color: #ffffff;
  margin: 32.3px 0;
  border-left: solid 5px #14bacd;
  border-right: solid 5px #14bacd;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 106.07px;
  height: 106.07px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 17.967px;
}

.hexagon:before {
  top: -53.033px;
  border-top: solid 7.0711px #14bacd;
  border-right: solid 7.0711px #14bacd;
}

.hexagon:after {
  bottom: -53.033px;
  border-bottom: solid 7.0711px #14bacd;
  border-left: solid 7.0711px #14bacd;
}


.hobbies ul li div i {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  display: block;
  background: url(../images/sprites.png)  -636px 7px no-repeat;
  background-size: 2500px;
  height: 71px;
  width: 104px;
  margin: 0 auto;
  z-index: 100;
  position: relative;
}
.hobbies ul li div h4 {
  vertical-align: middle;
  text-align: center;
  color: #14bacd;
  font-size: 1.2em;
  font-weight: 600;
  position: relative;
  z-index: 100;
}
.hobbies ul li:nth-child(2) div i {
  background-position: -931px 12px;
}
.hobbies ul li:nth-child(3) div i {
  background-position: -1074px 9px;
}
.hobbies ul:nth-child(3) li:nth-child(1) div i {
  background-position: -1768px 9px;
}
.hobbies ul:nth-child(3) li:nth-child(2) div i {
  background-position: -1313px 16px;
  background-size: 1740px;
}

